

table tr th{
    width: 250px;
    border: 1px solid #abc;
}

table tr td{
    border: 1px solid #abc;
}

.photo{
    width: 50px;
    height: 50px;
}

.pagination{
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #eeeeee;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}