:root {
    --light-gray: #DADCE0;
    --light-blue: #1B9CE2;
}

body {
    margin: 0;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#today{
    background-color: #abc;
}
.day{
    border: 1px solid #abc;
    text-align: center;
    height: 100%;

}